
{% if error %}
    <div id="error_logout">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
     
<div class="account-login-home "> <span class="btn-log">
Вход 
</span>       
        
    <form action="{{ path("fos_user_security_check") }}" method="post" id="login-form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <input type="hidden" name="_route" value="{{ path('index') }}" />
    <div class="col2-set">
      <div class="col-home">
        <div class="content">
          <h2>Регистрация</h2>
          <p>Создайте свой акаунт</p>
          <div class="buttons-set">
          <a href="{{ path('registration') }}">
            <button type="button" title="Create an Account" class="button"><span><span>Регистрация</span></span></button>
          </a>
          </div>
        </div>
      </div>
      <div class="col-home-2">
        <div class="content">
          <ul class="form-list">
            <li>
              <label for="email" class="required"><em>*</em>Логин</label>
              <div class="input-box">
                  
            <input type="text" id="email" name="_username" value="{{ last_username }}"
                   class="input-text required-entry" required="required" />
              </div>
            </li>
            <li>
              <label for="pass" class="required"><em>*</em>Пароль</label>
              <div class="input-box">
               <input  id="pass" class="input-text required-entry"
                    type="password" id="pass" name="_password" required="required" />
              </div>
            </li>
                      </ul>
          <div class="buttons-set"> 
            <p class="required">* Обязательные поля</p>
            <button type="submit" class="button" title="Login" name="send" id="send2"><span><span>Войти</span></span></button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
 
