
<div class="block block-list block-compare">
    <div class="block-title">
        <strong><span>Фильтр</span></strong>
    </div>
    <div class="block-content" id="">
         <ul>
            <li>
                    <form action="{{ path('accept_filter') }}" method="post" {{ form_enctype(form) }}>
                        <h3>Цена:</h3>
                        От:{{ form_widget(form.from_price) }}
                        До:{{ form_widget(form.to_price) }}<br />
                        <h3>Возраст:</h3>
                            {% for one in age %}
                                <div style="float:left; margin-left: 5px;"><input type="checkbox" name="colection_age[{{ one.id }}]" value="{{ one.id }}"/> {{ one.name }}</div>
                            {% endfor %}
                        <br />
                        <h3>Модель:</h3>
                        <div class="filter_sort">
                        {{ form_widget(form.collection_group) }}
                        </div>
                        {{ form_widget(form._token) }}
                        <br />
                        <p>
                            <button id="empty_cart_button" class="button btn-empty" type="submit" name="update_cart_action" value="empty_cart" title="Очистить корзину">
                                <span>
                                    <span> Фильтровать </span>
                                </span>
                            </button>
                        </p>
                    </form>
            </li>
         </ul>
    </div>
</div>