{% extends 'LegoSiteBundle::layout.html.twig' %} 
{% block title %}
    <title>Поиск товара</title>
{% endblock %}
{% block body %}
<div class="col-main">
<div class="page-title category-title">
        <h1>Поиск</h1>
</div>
        
   <div class="toolbar">

    </div>        
       {#<ul class="products-grid last even">
                    {% for product in entities %}
                    {% set class %}
                    {% if loop.index <= 3 %}
                        style="margin-top:0px;"
                    {% endif %}
                    {% endset %}
                    <li class="item" {{ class }}>
                        <h2 class="product-name product-name-height">
                            <a href="{{ path('product', { 'translit': product.translit }) }}">
                                 {{ product.title }}
                             </a>
                        </h2>
                        <div class="desc std" style="color: black;">
                            Артикул: {{ product.article }}
                        </div>
                    <div class="grid-inner">
                        <a class="product-image" title="" href="{{ path('product', { 'translit': product.translit }) }}">
                        {% if product.icon!='' %}
                                <img class="pr-img" width="203" height="203" alt="" 
                                     src="{{ vich_uploader_asset(product, 'iconImage') }}" />
                        {% endif %}
                        </a>
                    <div class="product-box-2">
                    <div class="product-atr-height" style="height: 58px;">
                        <div class="price-box">
                            <span id="product-price-1" class="regular-price">
                            <span class="price">{{ product.price }} грн.</span> </span>
                        </div>
                    </div>
                        <div class="actions">
                            <a href="{{path('add_to_cart', {'id':product.id, 'amount': 1})}}">
                                <button class="button" title="" type="button">
                                    <span>
                                        <span>Купить</span>
                                    </span>
                                </button>
                            </a>
                        <ul class="add-to-links">
                            <div id="results"></div>
                        </li>
                        </ul>
                        </div>
                    </div>
                    </li>
                    {% endfor %}
        </ul>#}
        <div class="category-products"> 
	
{% for entity in entities %}
<div class="tovar">
	<div class="allimgslidetovar">
		<div class="imgslidetovar">
                    <a href="{{ path('product', { 'translit': entity.translit }) }}" 
                                title="{{ entity.title }}" class="product-image">
                                    {% if entity.iconImage is not null %}
                                        <img src = '{{ vich_uploader_asset(entity, 'iconImage') }}'  class="imagecache imagecache-product"
                                             alt="{{ entity.title }}" width="116" height="110"/>
                                    {% else %}
                                        <img src = '{{ entity.smallIcon }}' alt="{{ entity.title }}"  class="imagecache imagecache-product"
                                             width="116" height="110"/>
                                    {% endif %}
                                </a>  
		</div>
    </div>                     
                                                            
	<p class="brdr">
             <a href="{{ path('product', { 'translit': entity.translit }) }}" title="{{ entity.title }}">
                                        {{ entity.title }}
             </a> <br />
             {% for group in groups %}
                      {% if group.id == entity.ProductGroupId %}
                        {{ group.title }}
                      {% endif %}
                {% endfor %}
	</p>

	<div class="blk2">
		<p class="price">{{ entity.price }} грн.</p>        
		<p class="val">Артикул: {{ entity.article }}  
                {% for attribut in atributs %}
                      {% if attribut[0].productId == entity.id %}
                        {{ attribut.name }}
                      {% endif %}
                {% endfor %}
                </p>
		<p class="linker">
		  <a href="{{path('add_to_cart', {'id':entity.id, 'amount': 1})}}">Купить</a>  
		</p>
	</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}