 <div class="page-title"><h2>ТОП продаж</h2></div>
 
     <div class="category-products"> 
	
{% for entity in entities %}
<div class="tovar">
	<div class="allimgslidetovar">
		<div class="imgslidetovar">
                    <a href="{{ path('product', { 'translit': entity.translit }) }}" 
                                title="{{ entity.title }}" class="product-image">
                                    {% if entity.iconImage is not null %}
                                        <img src = '{{ vich_uploader_asset(entity, 'iconImage') }}'  class="imagecache imagecache-product"
                                             alt="{{ entity.title }}" width="116" height="110"/>
                                    {% else %}
                                        <img src = '{{ entity.smallIcon }}' alt="{{ entity.title }}"  class="imagecache imagecache-product"
                                             width="116" height="110"/>
                                    {% endif %}
                                </a>  
		</div>
    </div>                     
                                                            
	<p class="brdr">
             <a href="{{ path('product', { 'translit': entity.translit }) }}" title="{{ entity.title }}">
                                        {{ entity.title }}
             </a> <br />
             {% for group in groups %}
                      {% if group.id == entity.ProductGroupId %}
                        {{ group.title }}
                      {% endif %}
                {% endfor %}
	</p>

	<div class="blk2">
		<p class="price">{{ entity.price }} грн.</p>        
		<p class="val">Артикул: {{ entity.article }}  
                {% for attribut in atributs %}
                      {% if attribut[0].productId == entity.id %}
                        {{ attribut.name }}
                      {% endif %}
                {% endfor %}
                </p>
		<p class="linker">
		  <a href="{{path('add_to_cart', {'id':entity.id, 'amount': 1})}}">Купить</a>  
		</p>
		{% if auth==1 %}
                <p class="linker">
		  <a href="{{path('add_to_cart_discount', {'id':entity.id, 'amount': 1})}}">Купить со скидкой</a>  
		</p>
                {% endif %}
	</div>
</div>
{% endfor %}
</div>
{#                    <ul class="products-grid-new first odd">
                    {% for entity in entities %}
                    {% set class %}
                            {% if loop.index%3!=1 %}
                                last
                                {% else %}
                                first
                            {% endif %}
                    {% endset %}
                    <li class="item {{ class }}">
                        <div class="grid_holder">
                                <h3 class="product-name">
                                    <a href="{{ path('product', { 'translit': entity.translit }) }}" title="{{ entity.title }}">
                                        {{ entity.title }}
                                    </a>
                                </h3>
                                <a href="{{ path('product', { 'translit': entity.translit }) }}" 
                                title="{{ entity.title }}" class="product-image">
                                    {% if entity.iconImage is not null %}
                                        <img src = '{{ vich_uploader_asset(entity, 'iconImage') }}' alt="{{ entity.title }}" width="200px" height="185px"/>
                                    {% else %}
                                        <img src = '{{ entity.smallIcon }}' alt="{{ entity.title }}"  width="200px" height="185px"/>
                                    {% endif %}
                                </a>                
                
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-59-new">
                                    <span class="price">{{ entity.price }} грн.</span>
                                    </span>        
                                </div>

                                <div class="actions">
                                    <a href="{{path('add_to_cart', {'id':entity.id, 'amount': 1})}}">
                                        <button type="button" title="Add to Cart" class="button btn-cart">
                                            <span><span>Купить</span></span>
                                        </button>
                                     </a>
                                </div>
                        </div>
                    </li>
                    {% endfor %}
                    </ul> 

#}