 <div class="page-title"><h2>ТОП продаж</h2></div>
                    <ul class="products-grid-new first odd">
                    {% for entity in entities %}
                    {% set class %}
                            {% if loop.index%3!=1 %}
                                last
                                {% else %}
                                first
                            {% endif %}
                    {% endset %}
                    <li class="item {{ class }}">
                        <div class="grid_holder">
                                <h3 class="product-name">
                                    <a href="{{ path('product', { 'translit': entity.translit }) }}" title="{{ entity.title }}">
                                        {{ entity.title }}
                                    </a>
                                </h3>
                                <a href="{{ path('product', { 'translit': entity.translit }) }}" 
                                title="{{ entity.title }}" class="product-image fancybox">
                                    {% if entity.iconImage is not null %}
                                        <img src = '{{ vich_uploader_asset(entity, 'iconImage') }}' alt="{{ entity.title }}" width="200px" height="185px"/>
                                    {% else %}
                                        <img src = '{{ entity.smallIcon }}' alt="{{ entity.title }}"  width="200px" height="185px"/>
                                    {% endif %}
                                </a>                
                
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-59-new">
                                    <span class="price">{{ entity.price }} грн.</span>
                                    </span>        
                                </div>

                                <div class="actions">
                                    <a href="{{path('main_site_cart_add', {'id':entity.id, 'amount': 1})}}">
                                        <button type="button" title="Add to Cart" class="button btn-cart">
                                            <span><span>В корзину</span></span>
                                        </button>
                                       {# <a href="l" class="btn_details">
                                            Подробнее
                                        </a>#}
                                     </a>
                                </div>
                        </div>
                    </li>
                    {% endfor %}
                    </ul> 

