<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<meta name="author"  content="Qwer-team"/>
	<meta name="copyright" content="&copy; Qwer-team"/>
 {% block css %}

<link href="{{ asset ( 'bundles/legosite/css/css.css' ) }}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/styles.css' ) }}" media="all" />
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/widgets.css' ) }}" media="all" />
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/prettyPhoto.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/jquery.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/cloud-zoom.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/easytabs.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/catalogsale.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/vpager.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/print.css' ) }}" media="print"/>
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link href="{{ asset ( 'bundles/legosite/css/fancy.css' ) }}" rel="stylesheet" type="text/css" media="all" />    
  
{% endblock %}
{% block javascript %}

        <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery-1.8.2.min.js?ver=1.8.2' ) }}"  type="text/javascript"> </script>
        <script src="{{ asset ( 'bundles/legosite/js/content.js' ) }}" type="text/javascript"></script>

         {% endblock %}
</head>



<body class=" cms-index-index cms-home">
<div class="wrapper">
<div class="wrapper-tail">
<p id="back-top"> <a href="#top"><span></span></a> </p>
        <noscript>
        <div class="global-site-notice noscript">
            <div class="notice-inner">
                <p>
                    <strong>JavaScript seems to be disabled in your browser.</strong><br />
                    You must have JavaScript enabled in your browser to utilize the functionality of this website.                </p>
            </div>
        </div>
    </noscript>
    <div class="page">
        <div class="header-container">
    <div class="header">
    		      <h1 class="logo"><strong>Magento Commerce</strong><a href="http://livedemo00.template-help.com/magento_41646/" title="Magento Commerce"><img src="/img/logo.png" alt="Magento Commerce"></a></h1>
            <div class="quick-access">
      	<form id="search_mini_form" action="http://livedemo00.template-help.com/magento_41646/catalogsearch/result/" method="get">
    <div class="form-search">
        <label for="search">Search:</label>
        <input autocomplete="off" id="search" name="q" class="input-text" type="text">
        <input value="" class="btn_search" type="submit">
        <div style="display: none;" id="search_autocomplete" class="search-autocomplete"></div>
	</div>
</form>

<div class="block-cart-header">
    <div class="cart_left">
      <h3>Cart:</h3>
            <div class="block-content">
                                  <p class="empty">0 item(s) - <span class="price">$0.00</span></p>
          
      </div>    
    </div>
    <div class="cart_right"></div>
</div>
       <div class="right_head">
       	 
 
        <p class="welcome-msg">Welcome to our online store! </p>
			
       </div>
      </div>
      <div class="bg_top"></div>
        {% block menu %}
            {% set routing = "index" %}
            {% render "MainSiteBundle:Default:menu" with {"routing" : routing, "req" : app.request}  %}

        {% endblock %}        </div>
 </div>
        <div class="main-container col2-left-layout">
            <div class="main">
     {% block body %}
        {% endblock%}                        
                    
                <div class="col-left sidebar"><div class="block block-category first">
<div class="block-title"><strong><span>Категории</span></strong></div>
<div class="nav-container">
    <ul id="nav">
        <li class="level0 nav-1 first level-top"><a href="http://livedemo00.template-help.com/magento_41646/action-toys-figures.html" class="level-top"><span>Action Toys &amp; Figures</span></a></li><li class="level0 nav-2 level-top parent items"><a href="http://livedemo00.template-help.com/magento_41646/arts-crafts.html" class="level-top"><span>Arts &amp; Crafts</span></a><ul class="level0"><li class="level1 nav-2-1 first"><a href="http://livedemo00.template-help.com/magento_41646/arts-crafts/craft-kits.html"><span>Craft Kits</span></a></li><li class="level1 nav-2-2"><a href="http://livedemo00.template-help.com/magento_41646/arts-crafts/drawing-art-supplies.html"><span>Drawing &amp; Art Supplies</span></a></li><li class="level1 nav-2-3"><a href="http://livedemo00.template-help.com/magento_41646/arts-crafts/easel-arts.html"><span>Easel Arts</span></a></li><li class="level1 nav-2-4 last"><a href="http://livedemo00.template-help.com/magento_41646/arts-crafts/stamps-stickers.html"><span>Stamps &amp; Stickers</span></a></li></ul></li><li class="level0 nav-3 level-top"><a href="http://livedemo00.template-help.com/magento_41646/dolls-soft-toys.html" class="level-top"><span>Dolls &amp; Soft Toys</span></a></li><li class="level0 nav-4 level-top"><a href="http://livedemo00.template-help.com/magento_41646/games-puzzles.html" class="level-top"><span>Games &amp; Puzzles</span></a></li><li class="level0 nav-5 last level-top"><a href="http://livedemo00.template-help.com/magento_41646/collectibles.html" class="level-top"><span>Collectibles</span></a></li>    </ul>
</div>
</div>
<div class="block block-cart">
        <div class="block-title">
        <strong><span>Новинки</span></strong>
    </div>
    <div class="block-content">
                        <p class="empty">You have no items in your shopping cart.</p>
        </div>
</div>
<div class="block block-list block-compare">
    <div class="block-title">
        <strong><span>Лидеры продаж</span></strong>
    </div>
    <div class="block-content">
            <p class="empty">You have no items to compare.</p>
        </div>
</div>
 
<div class="block block-poll last_block">
    <div class="block-title">
        <strong><span>Community Poll</span></strong>
    </div>
    <form id="pollForm" action="http://livedemo00.template-help.com/magento_41646/poll/vote/add/poll_id/1/" method="post" onsubmit="return validatePollAnswerIsSelected();">
        <div class="block-content">
            <p class="block-subtitle">What is the main reason for you to purchase products online?</p>
                        <ul id="poll-answers">
                                <li class="odd">
                    <input name="vote" class="radio poll_vote" id="vote_5" value="5" type="radio">
                    <span class="label"><label for="vote_5">More convenient shipping and delivery</label></span>
                </li>
                                <li class="even">
                    <input name="vote" class="radio poll_vote" id="vote_6" value="6" type="radio">
                    <span class="label"><label for="vote_6">Lower price</label></span>
                </li>
                                <li class="odd">
                    <input name="vote" class="radio poll_vote" id="vote_7" value="7" type="radio">
                    <span class="label"><label for="vote_7">Bigger choice</label></span>
                </li>
                                <li class="even">
                    <input name="vote" class="radio poll_vote" id="vote_8" value="8" type="radio">
                    <span class="label"><label for="vote_8">Centralized product search procedure (without having to leave your home)</label></span>
                </li>
                                <li class="odd">
                    <input name="vote" class="radio poll_vote" id="vote_9" value="9" type="radio">
                    <span class="label"><label for="vote_9">Payments security</label></span>
                </li>
                                <li class="even">
                    <input name="vote" class="radio poll_vote" id="vote_10" value="10" type="radio">
                    <span class="label"><label for="vote_10">30-day Money Back Guarantee</label></span>
                </li>
                                <li class="last odd">
                    <input name="vote" class="radio poll_vote" id="vote_11" value="11" type="radio">
                    <span class="label"><label for="vote_11">Other</label></span>
                </li>
                            </ul>
            
                        <div class="actions">
                <button type="submit" title="Vote" class="button"><span><span>Vote</span></span></button>
            </div>
        </div>
    </form>
</div>
</div>
            </div>
        </div>
        
<div class="footer-container">
		<div class="contact-main jqtransformdone">
			<span class="btn-contact">Contacts</span>
			<form action="" id="contactForm" method="post">
			    <div class="fieldset">
	              <h2 class="legend">Contact Information</h2>
	              <ul class="form-list">
	                  <li class="fields">
	                      <div class="field">
	                          <label for="name" class="required"><em>*</em>Name</label>
	                          <div class="input-box">
	                              <div style="width: 294px;" class="jqTransformInputWrapper"><div class="jqTransformInputInner"><div><input name="name" id="name" title="Name" class="input-text required-entry jqtranformdone jqTransformInput" type="text"></div></div></div>
	                          </div>
	                      </div>
	                      <div class="field">
	                          <label for="email" class="required"><em>*</em>Email</label>
	                          <div class="input-box">
	                              <div style="width: 294px;" class="jqTransformInputWrapper"><div class="jqTransformInputInner"><div><input name="email" id="email" title="Email" class="input-text required-entry validate-email jqtranformdone jqTransformInput" type="text"></div></div></div>
	                          </div>
	                      </div>
							<div class="field last">
								<label for="telephone">Telephone</label>
								<div class="input-box">
									<div style="width: 294px;" class="jqTransformInputWrapper"><div class="jqTransformInputInner"><div><input name="telephone" id="telephone" title="Telephone" class="input-text jqtranformdone jqTransformInput" type="text"></div></div></div>
								</div>
							</div>
	                  </li>
	                  <li class="wide">
	                      <label for="comment" class="required"><em>*</em>Comment</label>
	                      <div class="input-box">
	                          <table class="jqTransformTextarea" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td id="jqTransformTextarea-tl"></td><td id="jqTransformTextarea-tm"></td><td id="jqTransformTextarea-tr"></td></tr><tr><td id="jqTransformTextarea-ml">&nbsp;</td><td id="jqTransformTextarea-mm"><div><textarea name="comment" id="comment" title="Comment" class="required-entry input-text jqtransformdone" cols="5" rows="3"></textarea></div></td><td id="jqTransformTextarea-mr">&nbsp;</td></tr><tr><td id="jqTransformTextarea-bl"></td><td id="jqTransformTextarea-bm"></td><td id="jqTransformTextarea-br"></td></tr></tbody></table>
	                      </div>
	                  </li>
	              </ul>
	          </div>
	          <div class="buttons-set">
	              <div style="width: 138px;" class="jqTransformInputWrapper"><div class="jqTransformInputInner"><div><input class="jqtranformdone jqTransformInput" name="hideit" id="hideit" style="display: none;" type="text"></div></div></div>
	              <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button><p class="required">* Required Fields</p>
	          </div>
	      </form>
	</div>
        {% render "LegoSiteBundle:Security:login"%}
 


  <div class="footer">
    <div class="footer_top">
      <div class="wrapper">
        <div class="footer-col"> 
            <h4>Information</h4>
<ul>
<li><a href="http://livedemo00.template-help.com/magento_41646/about-magento-demo-store">About Us</a></li>
<li><a href="http://livedemo00.template-help.com/magento_41646/customer-service">Customer Service</a></li>
<li class="last privacy"><a href="http://livedemo00.template-help.com/magento_41646/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
</ul>            <ul class="links">
                        <li class="first"><a href="http://livedemo00.template-help.com/magento_41646/catalog/seo_sitemap/category/" title="Site Map"><span>Site Map</span></a></li>
                                <li><a href="http://livedemo00.template-help.com/magento_41646/catalogsearch/term/popular/" title="Search Terms"><span>Search Terms</span></a></li>
                                <li><a href="http://livedemo00.template-help.com/magento_41646/catalogsearch/advanced/" title="Advanced Search"><span>Advanced Search</span></a></li>
                                <li><a href="http://livedemo00.template-help.com/magento_41646/sales/guest/form/" title="Orders and Returns">Orders and Returns</a></li>
                                <li class=" last"><a href="http://livedemo00.template-help.com/magento_41646/contacts/" title="Contact Us"><span>Contact Us</span></a></li>
            </ul>
        </div>
        <div class="footer-col-1"> <h4>Why buy from us</h4>
<ul>
 <li><a href="http://livedemo00.template-help.com/magento_41646/shipping">Shipping &amp; Returns</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/secure-shopping">Secure Shopping</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/international">International Shipping</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/affiliates">Affiliates</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/group-sale">Group Sales</a></li>
</ul></div>
        <div class="footer-col-2"> <h4>My account</h4>
<ul>
 <li><a href="http://livedemo00.template-help.com/magento_41646/customer/account/login">Sign In</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/checkout/cart">View Cart</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/wishlist">My Wishlist</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/track">Track My Order</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/help">Help</a></li>
</ul> </div>
         <div class="footer_contacts">
	<h4>Contacts</h4>
 <p>8901 Marmora Road, Glasgow,  <br>D04 89GR</p>
 <strong>Tel:1(234) 567-8902</strong>
 <div class="socials"><a href="http://livedemo00.template-help.com/magento_41646/"><img src="/img/i1.gif" alt=""></a><a href="http://livedemo00.template-help.com/magento_41646/"><img src="/img/i2.gif" alt=""></a></div>
</div>      </div>
      <address>
						© 2013 Magento Demo Store. All Rights Reserved.      </address>
             </div>    
  </div>
  <div class="footer_bottom"></div>
</div>

            </div>
</div>
</div>


</body>

</html>