<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>
       {% if entity.getMetatitle is defined %}
       {% if entity.getMetatitle is not empty %}
            {{ entity.getMetatitle }}
        {% else %}
           Магазин игрушек
        {% endif %}  
       {% endif %}    
    </title>
 {% block css %}

<link href="{{ asset ( 'bundles/legosite/css/css.css' ) }}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/styles.css' ) }}" media="all" />
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/widgets.css' ) }}" media="all" />
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/prettyPhoto.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/jquery.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/cloud-zoom.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/easytabs.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/catalogsale.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/vpager.css' ) }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/print.css' ) }}" media="print"/>
<link rel="stylesheet" type="text/css" href="{{ asset ( 'bundles/legosite/css/scin.css' ) }}" media="print"/>
<link rel="stylesheet" href="{{ asset ( 'bundles/itcadmin/css/plugins/jquery-ui-1.9.1.custom.min.css' ) }}"/>
<link rel="stylesheet" href="{{ asset ( 'bundles/itcadmin/css/plugins/jquery-ui-1.9.1.custom.css' ) }}"/>
<link rel="icon" href="{{ asset ( 'bundles/legosite/img/favicon.ico' ) }}" type="image/x-icon"/>
<link href="{{ asset ( 'bundles/legosite/css/fancy.css' ) }}" rel="stylesheet" type="text/css" media="all" />    
  
{% endblock %}
{% block javascript %}

        <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery-1.8.2.min.js?ver=1.8.2' ) }}"  type="text/javascript"> </script>
        <script src="{{ asset ( 'bundles/legosite/js/content.js' ) }}" type="text/javascript"></script>
        <script src="{{ asset ( 'bundles/legosite/js/jquery.jcarousel.min.js' ) }}" type="text/javascript"></script>
        <script src="{{ asset ( 'bundles/legosite/js/jquery.fancybox.js' ) }}" type="text/javascript"></script>
        <script src="{{ asset ( 'bundles/legosite/js/jquery.cycle.all.js' ) }}" type="text/javascript"></script>
        <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery.form.js' ) }}" ></script>
        <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery-ui-1.9.1.custom.js' ) }}" ></script>
        <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery-ui-1.9.1.custom.min.js' ) }}" ></script>

         {% endblock %}
</head>



<body class=" cms-index-index cms-home">
<div class="wrapper">
<div class="wrapper-tail">
<p id="back-top"> <a href="#top"><span></span></a> </p>
        <noscript>
        <div class="global-site-notice noscript">
            <div class="notice-inner">
            </div>
        </div>
    </noscript>
    <div class="page">
        <div class="header-container">
    <div class="header">
    		      <h1 class="logo"><strong>Magento Commerce</strong>
                          <a href="{{ path('index') }}" title="">
                              <img src="{{ asset ( 'bundles/legosite//img/logo.png') }}" alt=""/> 
                          </a>
                      </h1>
            <div class="quick-access">
      	<form id="search_mini_form" action="{{ path('search_in_site') }}" method="POST">
        <div class="form-search">
            <label for="search">Поиск:</label>
                <input autocomplete="on" id="search" name="q" class="input-text search_with_param w100per" type="text"  
                            data-link=".search_product_id"
                            data-type-link="input"
                            data-route="ajax_search_product"
                            data-id_prod="1"/>
                <input type="hidden" name="productid" class="auto_prod_id" value=""/>
                <input value="" class="btn_search" type="submit" />
                <div style="display: none;" id="search_autocomplete" class="search-autocomplete"></div>
	</div>
        </form>

{% render "MainSiteBundle:Catalog:SmallCart" %}
       <div class="right_head">
       	 
 
        <p class="welcome-msg"></p>
			
       </div>
      </div>
      <div class="bg_top"></div>
        {% block menu %}
            {% set routing = "index" %}
            {% render "MainSiteBundle:Default:menu" with {"routing" : routing, "req" : app.request}  %}

        {% endblock %}        </div>
 </div>
        <div class="main-container col2-left-layout">
            <div class="main">
     {% block body %}
        {% endblock%}                        
 {% block right %}                   
<div class="col-left sidebar">
{% render 'MainSiteBundle:Catalog:CategoriesBlock' %}
{% render 'MainSiteBundle:Catalog:NoveltyBlock' %}
{% render 'MainSiteBundle:Catalog:BestSellerBlock' %}

 
{#<div class="block block-poll last_block">
    <div class="block-title">
        <strong><span>Community Poll</span></strong>
    </div>
    <form id="pollForm" action="http://livedemo00.template-help.com/magento_41646/poll/vote/add/poll_id/1/" method="post" onsubmit="return validatePollAnswerIsSelected();">
        <div class="block-content">
            <p class="block-subtitle">What is the main reason for you to purchase products online?</p>
                        <ul id="poll-answers">
                                <li class="odd">
                    <input name="vote" class="radio poll_vote" id="vote_5" value="5" type="radio">
                    <span class="label"><label for="vote_5">More convenient shipping and delivery</label></span>
                </li>
                                <li class="even">
                    <input name="vote" class="radio poll_vote" id="vote_6" value="6" type="radio">
                    <span class="label"><label for="vote_6">Lower price</label></span>
                </li>
                                <li class="odd">
                    <input name="vote" class="radio poll_vote" id="vote_7" value="7" type="radio">
                    <span class="label"><label for="vote_7">Bigger choice</label></span>
                </li>
                                <li class="even">
                    <input name="vote" class="radio poll_vote" id="vote_8" value="8" type="radio">
                    <span class="label"><label for="vote_8">Centralized product search procedure (without having to leave your home)</label></span>
                </li>
                                <li class="odd">
                    <input name="vote" class="radio poll_vote" id="vote_9" value="9" type="radio">
                    <span class="label"><label for="vote_9">Payments security</label></span>
                </li>
                                <li class="even">
                    <input name="vote" class="radio poll_vote" id="vote_10" value="10" type="radio">
                    <span class="label"><label for="vote_10">30-day Money Back Guarantee</label></span>
                </li>
                                <li class="last odd">
                    <input name="vote" class="radio poll_vote" id="vote_11" value="11" type="radio">
                    <span class="label"><label for="vote_11">Other</label></span>
                </li>
                            </ul>
            
                        <div class="actions">
                <button type="submit" title="Vote" class="button"><span><span>Vote</span></span></button>
            </div>
        </div>
    </form>
</div>#}
</div>
 {% endblock%}        
           </div>
        </div>
        
<div class="footer-container">
        {% render "MainSiteBundle:Default:callback"%}

        {% render "LegoSiteBundle:Security:login"%}
 


  <div class="footer">
    <div class="footer_top">
      {#<div class="wrapper">
        <div class="footer-col"> 
            <h4>Information</h4>
<ul>
<li><a href="http://livedemo00.template-help.com/magento_41646/about-magento-demo-store">About Us</a></li>
<li><a href="http://livedemo00.template-help.com/magento_41646/customer-service">Customer Service</a></li>
<li class="last privacy"><a href="http://livedemo00.template-help.com/magento_41646/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
</ul>            <ul class="links">
                        <li class="first"><a href="http://livedemo00.template-help.com/magento_41646/catalog/seo_sitemap/category/" title="Site Map"><span>Site Map</span></a></li>
                                <li><a href="http://livedemo00.template-help.com/magento_41646/catalogsearch/term/popular/" title="Search Terms"><span>Search Terms</span></a></li>
                                <li><a href="http://livedemo00.template-help.com/magento_41646/catalogsearch/advanced/" title="Advanced Search"><span>Advanced Search</span></a></li>
                                <li><a href="http://livedemo00.template-help.com/magento_41646/sales/guest/form/" title="Orders and Returns">Orders and Returns</a></li>
                                <li class=" last"><a href="http://livedemo00.template-help.com/magento_41646/contacts/" title="Contact Us"><span>Contact Us</span></a></li>
            </ul>
        </div>
        <div class="footer-col-1"> <h4>Why buy from us</h4>
<ul>
 <li><a href="http://livedemo00.template-help.com/magento_41646/shipping">Shipping &amp; Returns</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/secure-shopping">Secure Shopping</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/international">International Shipping</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/affiliates">Affiliates</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/group-sale">Group Sales</a></li>
</ul></div>
        <div class="footer-col-2"> <h4>My account</h4>
<ul>
 <li><a href="http://livedemo00.template-help.com/magento_41646/customer/account/login">Sign In</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/checkout/cart">View Cart</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/wishlist">My Wishlist</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/track">Track My Order</a></li>
 <li><a href="http://livedemo00.template-help.com/magento_41646/help">Help</a></li>
</ul> </div>
         <div class="footer_contacts">
	<h4>Contacts</h4>
 <p>8901 Marmora Road, Glasgow,  <br>D04 89GR</p>
 <strong>Tel:1(234) 567-8902</strong>
 <div class="socials"><a href="http://livedemo00.template-help.com/magento_41646/"><img src="/img/i1.gif" alt=""></a><a href="http://livedemo00.template-help.com/magento_41646/"><img src="/img/i2.gif" alt=""></a></div>
</div>      </div>
            
            #}
      <address>
	© 2013 QWER-TEAM. All Rights Reserved.     
      </address>
             </div>    
  </div>
  <div class="footer_bottom"></div>
</div>

            </div>
</div>
</div>


</body>

</html>